<section class="mb-44">
    <div class="container-fluid mt-4 mb-2">
        <div class="justify-content-between d-flex">
            <div class="d-flex">
                <a href="home.php" class="notifi-arrow mr-2"> <i class="fas fa-arrow-left"></i></a>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="">
                    <div class="form-group">
                        <label for="" class="ednam m-0">Verify OTP</label>
                        <p class="dwn-txt">We've sent it on vikramadithya@gmail.com</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <input type="tel" name="" value="" class="form-control inputed inp-otp">
                            </div>
                            <div>
                                <input type="tel" name="" value="" class="form-control inputed inp-otp">
                            </div>
                            <div>
                                <input type="tel" name="" value="" class="form-control inputed inp-otp">
                            </div>
                            <div>
                                <input type="tel" name="" value="" class="form-control inputed inp-otp">
                            </div>
                            <div>
                                <input type="tel" name="" value="" class="form-control inputed inp-otp">
                            </div>
                        </div>

                        <div>
                            <p class="dwn-txt mt-2 m-0">Don't receive OTP?</p>
                            <a href=""><button type="button" class="resen-btn">Resend OTP</button></a>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="editprofile.php"><button type="button" class="btn-sav">Verify</button></a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>