<section class="sticky-fo">

</section>
<section>
    <div class="container-fluid sticky-fo">
        <div class="row  home-footer text-center">
            <div class="col ">
                <a routerLink="/">
                    <i class="fas fa-home"></i>
                    <p>Home</p>
                </a>
            </div>
            <div class="focus-cl">


                <a routerLink="/doubts">
                    <i class="fas fa-book-reader"></i>

                    <p>Doubts</p>
                </a>
            </div>
            <!-- <div class="col shop-round  ">
                    <a href="shop.php">
                        <i class="fas fa-shopping-cart "></i>

                        <p>Shop</p>
                    </a>

                </div> -->
            <div class="col  ">
                <a routerLink="/wallet">
                    <i class="fas fa-wallet"></i>
                    <p>Wallet</p>

                </a>

            </div>
            <div class="col ">
                <i class="fas fa-user navbar-toggler font-profile" type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation"></i>
                <p class="prf">Profile</p>
            </div>
        </div>

    </div>
</section>
