<section class="mb-44">
    <div class="container-fluid mt-4 mb-2">
        <div class="justify-content-between d-flex">
            <div class="d-flex">
                <a routerLink="/editprofile" class="notifi-arrow mr-2"> <i class="fas fa-arrow-left"></i></a>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post" [formGroup]="editemailform" (ngSubmit)="submit()">
                    <div class="form-group">
                        <label for="" class="ednam">Verify Your Email Address</label>
                        <input type="Email" name="" value="" placeholder="vikramadithya@gmail.com"
                            class="form-control inputed" formControlName="email">
                            <p class="err" *ngIf="email?.touched && email?.invalid">This field is required *</p>
                            <!-- <p class="err" *ngIf="email?.touched && email?.errors.email">This is not a correct mail *</p> -->
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn-sav" [disabled]="!editemailform.valid">Continue</button>
                    </div>
                </form>

            </div>
            <p> {{ this.editemailform.value | json }}</p>
            <p> {{ this.editemailform.status | json }}</p>
        </div>
    </div>
</section>