<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 txt-center bg-dark">
                <img src="assets/images/login.png" alt="" class="wd-50 mt-20 mb-15">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-xs-12 col-sm-12 pd-0">
                <div class="pd-15 card p-rel bg-shadow">
                    <!-- <div>
<h5 class="cl-vio">School App</h5>
<p class="p-font">hvbdnvj</p>
</div> -->
                    <div>
                        <h5 class="text-center sign-h6-color">
                            Sign-In
                        </h5>
                    </div>
                    <div class="pd-t-10">
                        <label for="" class="fs-14 ds-blk cl-vio">Email</label>
                        <div class="bef">
                            <input type="text" name="" id="" placeholder="Enter your email Address"
                                class="bd-0 bd-b ipt-sty"><span></span>
                        </div>

                    </div>
                    <div class="pd-t-10">
                        <label for="" class="fs-14 cl-vio">Password</label>
                        <div class="aft">
                            <input type="password" class="bd-0 bd-b ipt-sty bef" placeholder="Enter Password"><span>

                            </span>
                        </div>
                    </div>
                    <div class="txt-right">
                        <a href="">
                            <h6 class="fs-12">forgot password ?</h6>
                        </a>

                    </div>
                    <div>
                        <a href="
        ">
                            <button class="lgn-btn">
                                Login
                            </button></a>

                    </div>
                    <div class="mt-4">
                        <p class="fs-14">i'm a new user<a class="pl-2 color-sign-in" href="sign-up.html">Sign-up</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>