<section class="mb-44">
    <div class="container-fluid mt-4 mb-2">
        <div class="justify-content-between d-flex">
            <div class="d-flex">
                <a routerLink="/" class="notifi-arrow mr-2"> <i class="fas fa-arrow-left"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center bg-abt">
                    <h4 class="main_trm clr-white">About Us
                    </h4>
                </div>
                <div class="text-center">
                    <img src="assets/images/book-unscreen.gif" alt="">
                </div>
                <div>
                    <h4 class="abt-main">About <span class="logk">K</span>nowledge <span class="logh">H</span>unt</h4>
                </div>
                <div>
                    <p class="p-abt">It is a long established fact that a reader will be distracted by the readable
                        content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution.</p>
                    <p class="p-abt">It is a long established fact that a reader will be distracted by the readable
                        content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution.It is a long established fact that a reader will be distracted by the readable
                        content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution.</p>
                </div>
                <div class="mt-4">
                    <h4 class="abt-main"><span class="logk">O</span>ur&nbsp;<span class="logh">V</span>ision</h4>
                    <p class="p-abt">It is a long established fact that a reader will be distracted by the readable
                        content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution.It is a long established fact that a reader will be distracted by the readable
                        content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution.</p>
                </div>
                <div class="mt-4">
                    <h4 class="abt-main"><span class="logk">O</span>ur&nbsp;<span class="logh">M</span>ision</h4>
                    <p class="p-abt">It is a long established fact that a reader will be distracted by the readable
                        content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution.It is a long established fact that a reader will be distracted by the readable
                        content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution.</p>
                </div>
            </div>
        </div>
    </div>
</section>
