<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 txt-center bg-dark">
                <img src="assets/images/login.png" alt="" class="wd-50 mt-20 mb-15">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-xs-12 col-sm-12 pd-0">
                <div class="pd-15 card p-rel bg-shadow">
                    <div class="pd-t-10">
                        <span class="otp-snt">OTP sent to knowledge@gmail.com</span>
                        <label for="" class="fs-14 ds-blk cl-vio">Enter OTP</label>
                        <form action="">
                            <div class="d-flex">
                                <div>
                                    <input type="tel" name="" value="" class="inpt-cod">
                                </div>
                                <div>
                                    <input type="tel" name="" value="" class="inpt-cod">
                                </div>
                                <div>
                                    <input type="tel" name="" value="" class="inpt-cod">
                                </div>
                                <div>
                                    <input type="tel" name="" value="" class="inpt-cod">
                                </div>
                                <div>
                                    <input type="tel" name="" value="" class="inpt-cod">
                                </div>
                            </div>
                        </form>
                        <a href=""><button type="button" class="btn-resnd">Resend</button></a>
                    </div>


                    <div>
                        <a href="">
                            <button class="lgn-btn">
                                Verify
                            </button></a>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>