<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 txt-center bg-dark">
                <img src="assets/images/login.png" alt="" class="wd-50 mt-20 mb-15">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-xs-12 col-sm-12 pd-0">
                <div class="pd-15 card p-rel bg-shadow">

                    <div>
                        <h5 class="text-center sign-h6-color">
                            Reset Password
                        </h5>
                    </div>

                    <div class="pd-t-10">
                        <label for="" class="fs-14 cl-vio">Enter New Password</label>
                        <div class="aft">
                            <input type="password" class="bd-0 bd-b ipt-sty bef" placeholder="Enter Password"><span>

                            </span>
                        </div>
                    </div>
                    <div class="pd-t-10">
                        <label for="" class="fs-14 cl-vio">Confirm Password</label>
                        <div class="aft">
                            <input type="password" class="bd-0 bd-b ipt-sty bef" placeholder="Enter Password"><span>

                            </span>
                        </div>
                    </div>

                    <div>
                        <a href="
        ">
                            <button class="lgn-btn">
                                Reset
                            </button></a>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>