<section class="mb-44">
    <div class="container-fluid mt-4 mb-2">
        <div class="justify-content-between d-flex">
            <div class="d-flex">
                <a routerLink="/" class="notifi-arrow mr-2"> <i class="fas fa-arrow-left"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h4 class="main_trm">Paid Version
                    </h4>
                </div>
            </div>
        </div>
        <div class="container mt-4 mb-4">
            <div class="row">
                <h5 class="head-aptitude mt-2">Boats and Streams: </h5>
                <div class="col-md-12">

                    <pdf-viewer [src]="srcpdf" [render-text]="true" [original-size]="false" [stick-to-page]="true">
                    </pdf-viewer>
                </div>

            </div>
        </div>



    </div>
</section>