<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 txt-center bg-dark">
                <img src="assets/images/login.png" alt="" class="wd-50 mt-20 mb-15">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-xs-12 col-sm-12 pd-0">
                <div class="pd-15 card p-rel bg-shadow">


                    <div class="pd-t-10">
                        <label for="" class="fs-14 ds-blk cl-vio">Email</label>
                        <div class="bef">
                            <input type="text" name="" id="" placeholder="Enter your email Address"
                                class="bd-0 bd-b ipt-sty"><span></span>
                        </div>

                    </div>


                    <div>
                        <a href="
        ">
                            <button class="lgn-btn">
                                Get OTP
                            </button></a>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>