<section class="mb-44">
    <div class="container mt-4 mb-2 width-90 ">
        <div class="justify-content-between d-flex">
            <div class="d-flex">
                <a routerLink="/editprofile" class="notifi-arrow mr-2"> <i class="fas fa-arrow-left"></i></a>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="d-flex justify-content-center">
                    <img src="assets/images/avatar.png" alt="profileimage" class="proimg">
                    <i class='bx bx-pencil edim'></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <p class="naed">Name</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <h6 class="defnam">Vikram aditya</h6>
                    </div>
                    <div>
                        <a routerLink="/editname"><i class='bx bx-chevron-right edrht'></i></a>
                    </div>
                </div>
                <div class="mt-2">
                    <p class="naed">Email address</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <h6 class="defnam">vikramadithys@gmail.com</h6>
                    </div>
                    <div>
                        <a routerLink="/editemail"><i class='bx bx-chevron-right edrht'></i></a>
                    </div>
                </div>
                <div class="mt-2">
                    <p class="naed">Mobile Number</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <h6 class="defnam">+919475897458</h6>
                    </div>
                    <div>
                        <a routerLink="/editnumber"><i class='bx bx-chevron-right edrht'></i></a>
                    </div>
                </div>
                <div class="mt-2">
                    <p class="naed">User Name</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <h6 class="defnam">vikram-5312</h6>
                    </div>
                    <div>
                        <a routerLink="/editusername"><i class='bx bx-chevron-right edrht'></i></a>
                    </div>
                </div>
                <div class="mt-2">
                    <p class="naed">Bio</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <input type="text" name="" value="" placeholder="Add few words " class="wrd-yu" readonly>
                    </div>
                    <div>
                        <a routerLink="/editbio"><i class='bx bx-chevron-right edrht'></i></a>
                    </div>
                </div>

                <div class="text-center mt-4">
                    <a href="#"><button type="button" class="btn-lgout">Log Out</button></a>
                </div>
            </div>
        </div>

    </div>
</section>