<section class="mb-44">
    <div class="container ">

        <div class="row row-library">
            <div class="col-12 d-flex mb-4">
                <div class="d-flex text-left">
                    <a href="home.php" class="notifi-arrow mr-2"> <i class="fas fa-arrow-left"></i></a>

                    <h4 class="heading-every">Shop</h4>

                </div>

            </div>

            <div class="col-xs-12 d-flex border-book">
                <div class="pr-4 book-back">
                    <img src="assets/images/book1.jpg" alt="" height="160px">
                </div>
                <div class="paddong-0">
                    <h6 class="welcome">Sponsored</h6>
                    <h6>A Nation of idiots</h6>
                    <p class="welcome">By Joseph Murphy Dale </p>
                    <!-- <div class="d-flex">
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                    </div> -->
                    <h6>Cost</h6>
                    <h5>
                        150
                    </h5>
                    <button class="library-button">Add to cart</button>


                </div>

            </div>
            <div class="col-xs-12 mt-4 d-flex border-book">
                <div class="pr-4 book-back">
                    <img src="assets/images/book2.jpg" alt="" height="160px">
                </div>
                <div>
                    <h6 class="welcome">Sponsored</h6>
                    <h6>A Nation of idiots</h6>
                    <p class="welcome">By Joseph Murphy Dale </p>
                    <!-- <div class="d-flex">
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                    </div> -->
                    <h6>Cost</h6>
                    <h5>
                        150
                    </h5>
                    <button class="library-button">Add to cart</button>


                </div>

            </div>
            <div class="col-xs-12 mt-4 d-flex border-book">
                <div class="pr-4 book-back">
                    <img src="assets/images/book3.jpg" alt="" height="160px">
                </div>
                <div>
                    <h6 class="welcome">Sponsored</h6>
                    <h6>A Nation of idiots</h6>
                    <p class="welcome">By Joseph Murphy Dale </p>
                    <!-- <div class="d-flex">
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                    </div> -->
                    <h6>Cost</h6>
                    <h5>
                        150
                    </h5>
                    <button class="library-button">Add to cart</button>


                </div>

            </div>
            <div class="col-xs-12 mt-4 d-flex border-book">
                <div class="pr-4 book-back">
                    <img src="assets/images/book4.jpg" alt="" height="160px">
                </div>
                <div class="pt-2">
                    <h6 class="welcome">Sponsored</h6>
                    <h6>A Nation of idiots</h6>
                    <p class="welcome">By Joseph Murphy Dale </p>
                    <!-- <div class="d-flex">
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                    </div> -->
                    <h6>Cost</h6>
                    <h5>
                        150
                    </h5>
                    <button class="library-button">Add to cart</button>

                </div>

            </div>
            <div class="col-xs-12 mt-4 d-flex mt-2 border-book">
                <div class="pr-4 book-back">
                    <img src="assets/images/book2.jpg" alt="" height="160px">
                </div>
                <div>
                    <h6 class="welcome">Sponsored</h6>
                    <h6>A Nation of idiots</h6>
                    <p class="welcome">By Joseph Murphy Dale </p>
                    <!-- <div class="d-flex">
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                    </div> -->
                    <h6>Cost</h6>
                    <h5>
                        150
                    </h5>
                    <button class="library-button">Add to cart</button>


                </div>

            </div>

        </div>
        </div>
</section>